.start-screen {
    height: 100%;
    border: 2px solid purple;
    box-sizing: border-box;
}

.main-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #213;
}

.bottom-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #333;
    padding: 16px;
}

.user-label {
    font-weight: 600;
}
